@model StudentCatalogFall2016.Models.Entity.StudentModel


@using (Html.BeginForm())
{
    //@Html.ValidationSummary()
    <div>
        <label>Firstname</label>
        @Html.TextBoxFor(a => a.Firstname, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Firstname)
    </div>

    <div>
        <label>Lastname</label>
        @Html.TextBoxFor(a => a.Lastname, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Lastname)


    </div>

    <div>
        <label>Email</label>
        @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Email)
        @*<input type="text" id="Email" name="Email" />*@
    </div>

    <div>

        <label>MobilePhone</label>
        @Html.TextBoxFor(a => a.MobilePhone, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.MobilePhone)


    </div>


    <input type="submit" value="Save" class="btn-primary" id="createSave" />
    
    <div>
        @Html.ActionLink("Go back to list", "Index")
    </div>
}






